#lonelynomad {
  font-size: 25px;
  font-weight: bold;
}

#solivagant {
  font-size: 13px
}
#headerpic {
  background: #000000;
  width: 1400px
  
}
.headers {
  width: 500px;
}
.nav {
  color: white;
}

body {
  background: #000000;
  color: white;
  font-family: fantasy;
}


a {
  color: white;
  

}
hr {
  width: 100%;
}

p {
  color:
}
h1,h2 {
  font-weight: bold;
}
h1 {
  font-size: 25px;
  color: white;
 
}

h2 {
  font-size: 28px;
  text-decoration: underline;
  color: white;
}

p {
  font-size: 20px;
  
}

h6 {
  font-size: 15px;
  text-decoration: underline;
  color: white;
}

.moveright{
  float: right;
  text-align: center;
}

.flex-container-header {
  display: flex;
}
