#lonelynomad {
  font-size: 25 px;
  font-weight: bold;
}

#solivagant {
  font-size: 13 px;
}
#headerpic {
  background: #000000;
  width: 1500 px;

}
.headers {
  width: 500 px; 
}

.nav-title > ul {
  color: black;
}

li {
  margin-top: 5 px; /*between the buttons*/ 
  margin-right: 5 px;/*between the buttons and big picture*/
  background-color: #ede0d7;
  text-align: center;
  font-weight: bold;
  border-radius: 5 px;
  list-style-type: none;
  box-sizing: 30 px;
  position: relative; left:-40 px; top:-30 px;

}

li:hover {
  background-color: #6b3705;
}


body {
  background: #000000;
  color: white;
  font-family: fantasy;
}


a {
  color: white;


}
hr {
  width: 100 %;
}

p {
  color:
}
h1,h2 {
  font-weight: bold;
}
h1 {
  font-size: 25 px;
  color: white;

}

h2 {
  font-size: 28 px;
  text-decoration: underline;
  color: white;
}

p {
  font-size: 20 px;

}

h6 {
  font-size: 15 px;
  text-decoration: underline;
  color: white;
}

.moveright{
  float: right;
  text-align: center;
}

.flex-container-header {
  display: flex;
}

