.flex-container-header {
  display: flex;
}

.headers {
  display: flex;
  flex-direction: column; /* Adjust the flex direction */
  align-items: left; /* left align the content (header, button) */
}

body {
  background: #000000;
  color: white;
  font-family: fantasy;
}

#lonelynomad {
  font-size: 25px;
  font-weight: bold;
}

#solivagant {
  font-size: 13px;
}
#headerpicture {
  width: 1700px;
  margin-right: 40px;
}
.headers {
  width: 900px; /* Set a fixed width for the header and pic */
}

.nav-wrapper {  /* wraps the navigation, all in one box */
  width: 150px; /* Set a fixed width for the wrapper - li box cover */
  
}

li {
  margin-bottom: 5px; /* Adjust margin between buttons*/
  background-color: #ea8d4c; /*should be orange */
  text-align: center; /* centre of the box */
  font-weight: bold;
  border-radius: 4px;
  list-style-type: none; /*remove the bullets*/
  position: relative; 
    left: -40px; 
    top: -30px;
  padding-top: 4px; /*adjust the text to move from top, make it middle of box*/

}

li a {
  color: white;
  text-decoration: none;
}

li:hover {
  background-color: #b6691e;
}


hr {
  width: 100%;
}

p {
  color:
}
h1,h2 {
  font-weight: bold;
}
h1 {
  font-size: 25px;
  color: white;

}

h2 {
  font-size: 28px;
  text-decoration: underline;
  color: white;
}

p {
  font-size: 20px;

}

h6 {
  font-size: 15px;
  text-decoration: underline;
  color: white;
}

.moveright{
  float: right;
  text-align: center;
}
