 body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            max-width: 800px;
            margin: 20px auto;
            padding: 0 20px;

 }
        p {
            border: 2px solid green;
            }
        span {
            background-color: rgb(229, 255, 0);
            font-family: cursive;
            }
        h1 {
            color: #333;
        }

        p {
            color: #027515;
        }