#backhome {
  color: white;
  text-align: left;
}

body {
  background: black;
  font-family: fantasy;

}

main {
  color: white; 
  margin: 40px auto; /* Center horizontally with auto margin */
  margin-top: 20px;
  text-align: center;
  display: flex; /* Make it a flex container */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items vertically */
  max-width: 800px;
}


.image-container-lapland {
  position: relative;
  text-align: center; /* Center the text within the container */
}

#hiensnow {
  opacity: 0.4;
  width: 100%; /* Make the image fill exactly the container, otherwise it will fill out */
  display: block; /*By default, an <img> element is an inline-level element.
  Setting display: block; on an image makes it behave like a block-level element. it's done when you want the image to take up the full width of its container and start on a new line. In this case, it ensures that the image (#hiensnow) takes up the full width of its container (image-container-lapland).
  */
}

#hiensnow:hover {
  opacity: 0.8;
}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7vw; /* Set font size using vw unit for responsiveness */
  color: white;
  font-weight: bold;
  font-size: 50px;
}

@media (max-width: 1000px) {
  #title {
    font-size: 6vw; /* Use vw for smaller screens */
  }
}

article {
  margin-top: 30px; /* Add space between the header and the article */
  text-align: center; /* Center the content within the article */
}

h2 {
  font-size: 20px;
  color: white;
}


h6 {
  font-size: 10px;
  text-decoration: underline;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.grid-container img {
  width: 100%; /* Make the image fill the container */
  max-width: 300px; /* Set a maximum width for the image */
}
.item1-snowmobile-text {
  grid-column: 1 / 1;
}
.item2-snowmobile-picture, h2 {
  text-decoration: underline;
  grid-column: 2 / 3;
}
.item3-husky-picture {
  grid-column: 1 / 1;
}
.item4-husky-text {
  grid-column: 2 / 3;
}

.item5-snowshoe-text {
  grid-column: 1 / 1;
}

.item6-snowshoe-picture {
  grid-column: 2 / 3;
}

.item7-reindeer-picture {
  grid-column: 1 / 1;
}

.item8-reindeer-text {
  grid-column: 2 / 3;
}