@font-face {
  font-family: myFirstFont;
  src: url(../Eyesome-Script.otf);
} /* import the eyesome script font */


/* NAVIGATION CSS STARTS */
nav {
  background-color: #FCFAF9;
  text-align: center;
  padding: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  justify-content: center;
}


nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 23px;
  font-family: fantasy;
}

nav a:hover {
  font-weight: bold;
  color: #a78875;
}

/* NAVIGATION CSS ENDS */

/* BANNER CSS STARTS */

#banner-picture-desktop {
  max-width: 100%;
  height: auto;
}

#banner-picture-mobile {
  display: none; /* Hide the mobile image by default */
}

/* BANNER CSS ENDS */



/* MAIN CSS STARTS */

#featured {
  font-family: myFirstFont;
  color: black;
  font-size: 30px;
  text-align: center;
}

h3 {
  font-size: 26px;
  font-family: fantasy;
  margin-top: 20px;
}

body {
  background: #FCFAF9;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}



main {
  text-align: center;

}

img {
  max-width: 100%; /* Adjust the maximum width as needed */
}

#banner-picture-desktop {
  max-width: 100%;
  height: auto;
}

#banner-picture-mobile {
  display: none; /* Hide the mobile image by default */
}

#featured {
  font-family: myFirstFont;
  color: black;
  font-size: 40px;
}
h3 {
  font-size: 25px;
  font-family: fantasy;
}
p {
  font-size: 15px;
}

/* MAIN CSS ENDS */


/* FLEXBOX CSS STARTS */

.featured-posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FBFAF9;
}


  /* border color */
.featured-posts-container > div { /* make the border visible, first,second and third border post container */
  background-color: #FBFAF9;
  width: 400px; /* how big is each box equally */
  height: 450px;
  border-color: #E7DDD8;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 20px;
  margin-right: 3%;

}

.featured-posts-container > div:hover {
  border-color: black;
  color: #a78875;

}

.first-block-container-inner, .second-block-container-inner, .third-block-container-inner {
  background-color: #F2EFEC;
  width: 95%;
  height: 95%;
  margin: auto; /* Center the inner box using the margin: auto; technique */
  margin-top: 15px;
  align-items: center;
  opacity: 100%;
}

.first-block-container-inner img:hover, .second-block-container-inner img:hover, .third-block-container-inner img:hover {
  opacity: 70%;
}


/* adjust pictures of all 3 squares */ 
.first-block-content img, .second-block-content img, .third-block-content img {
  width: 90%; /* make img smaller to center it*/
  margin-top: 10px;
  height: 310px;
}

/* adjust hr of all 3 squares */ 
.first-block-content hr, .second-block-content hr, .third-block-content hr {
  border: 0.01% solid;
  width: 80%;
}

/* FLEXBOX CSS ENDS */

/* MEDIA QUERY STARTS */
/* media query for mobile starts */

@media screen and (max-width: 600px) {

  #banner-picture-desktop {
    display: none; /* hide desktop banner */
  }
  #banner-picture-mobile {
  display: block; /* show mobile banner */
  }
  nav a {
    display: flex;
    justify-content: center;
  }

}
/* MEDIA QUERY ENDS */