/* DECLARE VARIABLES */

@font-face {
  font-family: myFirstFont;
  src: url(../Eyesome-Script.otf);
} /* import the eyesome script font */

@font-face {
  font-family: myMainFont;
  src: url(../lucida-sans-cdnfonts/main-font.ttf)
} /* import the lucida sans  font */


:root {
  --main-color: #a78875; 
  --background-color: #FCFAF9;
  --white-color: #fff;
}
/* DECLARE VARIABLES ENDS */
/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */

/* THIS DESIGN IS FOR MOBILE */

h1 {
  font-family: myFirstFont;
  ;
  font-size: 40px;
  color: var(--main-color); /* use the color variable*/
}


header h1 {
  margin-bottom: 0px; /* or use padding-bottom: 0; */
  margin-top: 20px; /* or use padding-bottom: 0; */
}


header hr {
  margin-top: 10px; /* Adjust the value to move the <hr> closer to <h1> */
}

/* NAVIGATION CSS STARTS */
nav {
  background-color: var(--background-color);
  text-align: center;
  padding: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

nav a {
  text-decoration: underline;
  margin: 0 15px;
  color: var(--main-color);
  font-family: myMainFont;
  font-weight: lighter;
  line-height: 33px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;

}

nav a:hover, a:hover {
  font-weight: bold;
  color: var(--main-color);
  text-decoration: underline;
}

/* NAVIGATION CSS ENDS */


/* BANNER CSS STARTS */
#banner-picture-desktop {
  display: none; /* hide desktop banner */
}
#banner-picture-mobile {
display: block; /* show mobile banner */
max-width: 100%;

}

/* BANNER CSS ENDS */

body {
  background-color: var(--background-color);
  color: rgb(0, 0, 0);
  font-family: myMainFont;
  text-align: center;
  padding: 10px; /* cushion it to the middle not too close to margin*/
  
}

h3 {
  font-size: 15px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}


  /* ARTICLE CSS STARTS */

  /* dont have featured */

  #funfact, #where-next, #exclusive {
    font-size: 30px;
    font-family: myFirstFont;
  }
  
  h3 {
    font-size: 22px;
  }

  h6 {
    text-align: right;
  }
  
  article p {
    text-align: justify;
    line-height: 25px;
}

img {
    max-width: 100%;

}
  /* ARTICLE CSS ENDS */
    /* ASIDE CSS STARTS */
  
     aside {
      display: block;
      /* Block-level boxes generally start on a new line 
      and stretch the full width of their containing element, 
      forcing subsequent content to appear below them. */
      justify-content: center;
      float: none; /* Remove the float */
      width: 100%; /* Occupy the full width of the container */
      margin: 20px auto; /* Center the aside */
      
  }
    aside > div {
    opacity: 100%; /* set to 100%, no need to hove */
    }

    article, aside > div {  /* funfact and other blogs are separated*/
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.2); /* make the post glow up*/
      border-radius: 10px; /* corner of the article */
      padding: 20px; /* brings the text to middle of the white margin*/
      margin: 20px auto; /*space between the div*/
      background-color: #fff;   
    }

  aside p {
    font-size: 15px;
    font-style: italic;
   }
 
  aside img {
     border-radius: 5%;
    }

  /* FOOTER CSS STARTS */

  footer {
  background-color: #E3D6D0 ;
  padding: 20px;
  text-align: center;
  }
  /* FOOTER CSS ENDS */


  /* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
  /* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
  /* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
  
  /* MEDIA QUERY STARTS */

  /* media query for mobile starts */

@media screen and (min-width: 768px) {

  #banner-picture-desktop {
    max-width: 100%;
    height: auto;
    display:block;
  }
  
  #banner-picture-mobile {
    display: none; /* Hide the mobile image by default */
  }

  nav a {
    text-decoration: none;
    margin: 0 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 23px;
    font-family: myMainFont;
    font-weight: lighter;
    line-height: 33px;
    display: inline-block; /* make it become one line*/
  }

  nav a:hover {
    font-weight: bold;
    color: var(--main-color);
  }


  h3 {
    font-size: 23px;
  }

  article {
    text-align: justify;
    justify-content: center;
   /* funfact and other blogs are separated*/
    max-width: 1000px; /* adjust the margine and force the article to stay in the middle*/
    margin: 30px auto; /* brings the article to middle*/
    display: inline-block; /* makes article and aside stand on same line*/
    margin-left: 3%;
  }

  aside > div {
    margin-top: auto; /*make it equal height to article*/
    opacity: 50%;
  }

  /* ASIDE CSS STARTS */
  aside {
    float: right;
    width: 20%;
    padding: 10px;
    box-sizing: border-box; /* element's total size won't 
    change when you add padding or a border. */
    margin-right: 3%;
   }

  aside>div:hover {
    opacity: 100%;
  }
  

  /* ASIDE CSS ENDS */

}
  /* media query for mobile ends */




  