@font-face {
  font-family: myFirstFont;
  src: url(../Eyesome-Script.otf);
} /* import the eyesome script font */


/* NAVIGATION CSS STARTS */
nav {
  background-color: #FCFAF9;
  text-align: center;
  padding: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 23px;
  font-family: fantasy;
}

nav a:hover {
  font-weight: bold;
  color: #a78875;
}

/* BANNER CSS STARTS */

#banner-picture-desktop {
    max-width: 100%;
    height: auto;
  }
  
  #banner-picture-mobile {
    display: none; /* Hide the mobile image by default */
  }
  
  /* BANNER CSS ENDS */

  /* ARTICLE CSS STARTS */

  .featured {
    font-family: myFirstFont;
    color: black;
    font-size: 40px;
    text-align: center;
  }
  #funfact {
    font-size: 30px;
    font-family: myFirstFont;
  }
  
  h3 {
    font-size: 22px;
   
    margin-top: 20px;
  }

  h6 {
    text-align: right;
  }
  
  body {
    background: #FCFAF9;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
  }

  article, aside > div {  /* funfact and other blogs are separated*/
    max-width: 1000px; /* adjust the margine and force the article to stay in the middle*/
    margin: 30px auto; /* brings the article to middle*/
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2); /* make the post glow up*/
    border-radius: 10px; /* corner of the article */
    padding: 20px; /* brings the text to middle of the white margin*/
    background-color: #fff; 
    display: inline-block; /* makes article and aside stand on same line*/

  }

  article {
    margin-left: 10%;
}

  article p {
    text-align: justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 25px;
}

img {
    max-width: 100%;

}
  /* ARTICLE CSS ENDS */

  /* ASIDE CSS STARTS */

  aside {
    float: right;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 13%;
   }

  aside > div {
    opacity: 50%;
  }

  aside>div:hover {
    opacity: 100%;
  }
  

  aside p {
   font-size: 15px;
   font-style: italic;
    
  }

  aside img {
    border-radius: 5%;
     
   }


  /* ASIDE CSS ENDS */

  /* MEDIA QUERY STARTS */

  /* media query for mobile starts */

@media screen and (max-width: 600px) {

  #banner-picture-desktop {
    display: none; /* hide desktop banner */
  }
  #banner-picture-mobile {
  display: block; /* show mobile banner */
  max-width: 100%;


  }
  nav a {
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-size: 20px;
  }

  h3 {
    font-size: 23px;
  }

  article {
    text-align: justify;
    justify-content: center;
    margin: 20px auto; /* move it to the middle, 20px: top, bottom to 20 pixels, left and right auto*/

  }

  aside {
    display: block;
    /* Block-level boxes generally start on a new line 
    and stretch the full width of their containing element, 
    forcing subsequent content to appear below them. */
    justify-content: center;
    float: none; /* Remove the float */
    width: 100%; /* Occupy the full width of the container */
    margin: 20px auto; /* Center the aside */
}
/* MEDIA QUERY ENDS */
