/* DECLARE VARIABLES */

@font-face {
  font-family: myFirstFont;
  src: url(../Eyesome-Script.otf);
} /* import the eyesome script font */

@font-face {
  font-family: myMainFont;
  src: url(../lucida-sans-cdnfonts/main-font.ttf)
} /* import the lucida sans  font */


:root {
  --main-color: #a78875; 
  --background-color: #FCFAF9;
  --white-color: #fff;
}
/* DECLARE VARIABLES ENDS */
/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */

/* THIS DESIGN IS FOR MOBILE */

h1 {
  font-family: myFirstFont;
  ;
  font-size: 40px;
  color: var(--main-color); /* use the color variable*/
  padding: px;
}

/* NAVIGATION CSS STARTS */
nav {
  background-color: var(--background-color);
  text-align: center;
  padding: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

nav a {
  text-decoration: none;
  margin: 0 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: myMainFont;
  font-weight: lighter;
  line-height: 33px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

nav a:hover {
  font-weight: bold;
  color: var(--main-color);
}

/* NAVIGATION CSS ENDS */


/* BANNER CSS STARTS */
#banner-picture-desktop {
  display: none; /* hide desktop banner */
}
#banner-picture-mobile {
display: block; /* show mobile banner */
max-width: 100%;

}

/* BANNER CSS ENDS */

h3 {
  font-size: 15px;
}


#featured {
  font-family: myFirstFont;
  color: black;
  font-size: 30px;
  text-align: center;
}

h3 {
  font-size: 21px;
  margin-top: 10px;
  font-family: myMainFont;

}

body {
  background-color: var(--background-color);
  color: rgb(0, 0, 0);
  font-family: myMainFont;
  text-align: center;
}
/* FLEXBOX CSS STARTS */

.featured-posts-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--background-color);
}

  /* border color */
.featured-posts-container > div { /* make the border visible, first,second and third border post container */
  background-color: var(--background-color);
  width: 400px; /* how big is each box equally */
  height: 410px;
  border-color: #E7DDD8;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 20px;
  margin-right: 4%;

}

.featured-posts-container > div:hover {
  border-color: black;
}

.first-block-container-inner, .second-block-container-inner, 
.third-block-container-inner {
  background-color: #F2EFEC;
  width: 95%;
  height: 95%;
  margin: auto; /* Center the inner box using the margin: auto; technique */
  margin-top: 15px;
  align-items: center;
  opacity: 100%;
}

.first-block-container-inner img:hover, 
.second-block-container-inner img:hover, 
.third-block-container-inner img:hover
 {
  opacity: 70%;
}

/* adjust content to move a bit up */ 


/* adjust pictures of all 3 squares */ 
.first-block-content img, .second-block-content img, 
.third-block-content img {
  width: 90%; /* make img smaller to center it*/
  margin-top: 10px;
  height: 310px;
}

/* FLEXBOX CSS ENDS */

/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */

/* MEDIA QUERY STARTS */ 
/* THIS DESIGN IS FOR DESKTOP */
/* media query for desktop starts */

@media screen and (min-width: 768px) {

  /* BANNER CSS STARTS */

#banner-picture-desktop {
  max-width: 100%;
  height: auto;
  display:block;
}

#banner-picture-mobile {
  display: none; /* Hide the mobile image by default */
}

/* BANNER CSS ENDS */

h1 {
  font-family: myFirstFont;
  ;
  font-size: 40px;
  color: var(--main-color); /* use the color variable*/
  padding: px;
}

/* NAVIGATION CSS STARTS */


nav a {
  text-decoration: none;
  margin: 0 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 23px;
  font-family: myMainFont;
  font-weight: lighter;
  line-height: 33px;
  display: inline-block; /* make it become one line*/
}

nav a:hover {
  font-weight: bold;
  color: var(--main-color);
}

/* FLEXBOX CSS STARTS */

h3 {
  font-size: 23px;
}

/* FLEXBOX CSS ENDS */
}
/* MEDIA QUERY ENDS */