/* DECLARE VARIABLES */

@font-face {
    font-family: myFirstFont;
    src: url(../Eyesome-Script.otf);
  } /* import the eyesome script font */
  
  @font-face {
    font-family: myMainFont;
    src: url(../lucida-sans-cdnfonts/main-font.ttf)
  } /* import the lucida sans  font */
  
  
  :root {
    --main-color: #a78875; 
    --background-color: #FCFAF9;
    --white-color: white;
  }
  /* DECLARE VARIABLES ENDS */
  /* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
  /* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
  /* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
  
  /* THIS DESIGN IS FOR MOBILE */
  
  h1 {
    font-family: myFirstFont;
    ;
    font-size: 40px;
    color: var(--main-color); /* use the color variable*/
  }
  
  
  header h1 {
    margin-bottom: 0px; /* or use padding-bottom: 0; */
    margin-top: 20px; /* or use padding-bottom: 0; */
  }
  
  
  header hr {
    margin-top: 10px; /* Adjust the value to move the <hr> closer to <h1> */
  }
  
  /* NAVIGATION CSS STARTS */
  nav {
    background-color: var(--background-color);
    text-align: center;
    padding: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
  }
  
  nav a {
    text-decoration: none;
    margin: 0 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: myMainFont;
    font-weight: lighter;
    line-height: 33px;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  
  nav a:hover, a:hover {
    font-weight: bold;
    color: var(--main-color);
    text-decoration: underline;
  }
  
  /* NAVIGATION CSS ENDS */
  
  #featured {
  font-family: myFirstFont;
  font-size: 30px;
  text-align: center;
}

  /* BANNER CSS STARTS */
  #banner-picture-desktop {
    display: none; /* hide desktop banner */
  }
  #banner-picture-mobile {
  display: block; /* show mobile banner */
  max-width: 100%;
  
  }
  
  /* BANNER CSS ENDS */
  
  /* MAIN CSS STARTS */

  
  #featured {
    font-family: myFirstFont;
    font-size: 30px;
    text-align: center;
  }
  
  body {
    background-color: var(--background-color);
    color: rgb(0, 0, 0);
    font-family: myMainFont;
    text-align: center;
    padding: 10px; /* cushion it to the middle not too close to margin*/
    
  }
  
  h3 {
    font-size: 15px;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

      /* GRID CSS STARTS */
      .grid-container-best-choice {
        display: grid;
        gap: 20px; /* Gap between grid items */
      }
  
      /* Style for grid items */
      .grid-item {
        background-color: #EFF0EA;
        padding: 20px;
        text-align: center;
      }

      /* GRID CSS ENDS */


  /* MAIN CSS ENDS */
  
  /* MEDIA QUERY STARTS */

  /* media query for mobile starts */

@media screen and (min-width: 768px) {

    #banner-picture-desktop {
      max-width: 100%;
      height: auto;
      display:block;
    }
    
    #banner-picture-mobile {
      display: none; /* Hide the mobile image by default */
    }
  
    nav a {
      text-decoration: none;
      margin: 0 15px;
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 23px;
      font-family: myMainFont;
      font-weight: lighter;
      line-height: 33px;
      display: inline-block; /* make it become one line*/
    }
  
    nav a:hover {
      font-weight: bold;
      color: var(--main-color);
    }

          /* GRID CSS STARTS */
          .grid-container-best-choice {
            grid-template-columns: repeat(3, 1fr); 
            /* 3:  repeat the pattern three times makes 
            three columns with equal width */
            /* 1fr means that each column should take an equal 
            fraction of the available space. "fractional unit," 
            and it divides the available space into equal parts. */
            gap: 20px; /* Gap between grid items */
        }

          

}
  